apiVersion: v1
data:
  Secret: <REPLACE_ME_WITH_BASE64_ENCODED_CONNECTOR_SECRET>
kind: Secret
metadata:
  name: odo-secret
type: Opaque
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: odo-deployment
  name: odo-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: odo-deployment
  strategy: {}
  template:
    metadata:
      labels:
        app: odo-deployment
    spec:
      securityContext:
        sysctls:
        - name: net.ipv4.ip_forward
          value: "1"
      volumes:
      - name: dev-net-tun
        hostPath:
          path: /dev/net/tun
      containers:
      - image: adanite/odo_connector:eu_v3
        name: odoconnector
        securityContext:
          privileged: true
          capabilities:
            add: ["NET_ADMIN"]
        volumeMounts:
        - mountPath: /dev/net/tun
          name: dev-net-tun
        env:
          # Define the environment variable
          - name: Secret
            valueFrom:
              secretKeyRef:
                name: odo-secret
                key: Secret   
